.tasks {
    border-radius: 15px;
    background-color: #a7c3d1;
    height: 80%;
    padding: 2%;
    width: 72.6%;
    position: fixed;
    top: 1%;
    left: 23%;
}

.todobar {
    position: fixed;
    background-color: #a7c3d1;
    border-radius: 15px; 
    top: 90.5%;
    height: 8%;
    width: 99%;
    left: 0.5%;
}