.tasks {
    border-radius: 2.5vh;
    background-color: #a7c3d1;
    height: 80%;
    padding: 2%;
    width: 72.6%;
    position: fixed;
    top: 1%;
    left: 23%;
}

.todobar {
    position: fixed;
    background-color: #a7c3d1;
    border-radius: 2.5vh; 
    top: 90.5%;
    height: 8%;
    width: 99%;
    left: 0.5%;
}

.taskname {
    width: 60%;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.5vw;
    font-size: 1.5vw;
}

.tasksname {
    font-size: 2vw;
}

.checkbox-container {
    height: 1.5vw;
    width: 1.5vw;
    padding: 0;
    margin: 0;
}

.tasksitem {
    background-color: #d4d4a6;
    border-radius: 1.5vw;
    margin-bottom: 0.3vw;
    padding: 0.3vw;
    width: 100%;
}

.checkbox {
    width: 1.5vw;
    background-color: #a7c3d1;
    height: 1.5vw;
    border-radius: 0.5vw;
    margin: 0;
    padding: 0;
}
.tasktext {
    font-size: 1.4vw;
    overflow-wrap: break-word;
    width: 80%;
    padding: 0;
    text-align: left;
    margin: 0.2vw;
}

.taskdetailscontainer {
    padding: 0.1vw;
    padding-left: 0.2vw;
    width: 100%;
    margin: 0;
}