.menu {
  border-radius: 15px;
  background-color: #a7c3d1;
  height: 80%;
  padding: 2%;
  width: 25%;
}

.menu-top {
  height: 8vh;
  overflow-x: scroll;
}

.todo-text {
  display: inline;
  max-height: 20%;
}

.logo {
  height: 100%;
  display: inline;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-bottom {
  height: 90%;
  padding: 1%;
  overflow-y: scroll;
}

.todo {
  width: 80%;
  background-color: #d4d4a6;
  border-radius: 15px;
  padding: 0.1vw;
  padding-left: 5%;
  height: 2vw;
  cursor: pointer;
  margin: auto;
}

.todoback {
  scale: 100%;
  transition: scale 2s ease-out 100ms
}

.todoback :hover {
  scale: 1.05;
}

.menutodostext {
  color: #3e3e69;
  font-size: 1.5vw;
  width: 84%;
  overflow-x: hidden;
}

.addtodo {
  font-size: 75%;
  border-radius: 15px;
  background-color: #d4d4a6;
  width: 50%;
  padding: 2%;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: 1vw;
}

.todonameset {
  width: 80%;
  margin: auto;
  background-color: #d4d4a6;
  border-radius: 15px;
  padding-left: 5%;
  display: none;
  padding-top: 0.1vw;
  height: 2vw;
}

.todonamesetform {
  background: none;
  border-radius: 5px;
  border-width: 0;
  font-size: 1.5vw;
  font-weight: bold;
  color: #3e3e69;
  display: inline;
  height: 1.5vw;
  padding: 0;
  width: 80;
  margin: 0;
  font-family: "Nunito", sans-serif;
}