.menu {
  border-radius: 15px;
  background-color: #a7c3d1;
  height: 86%;
  padding: 2%;
  width: 25%;
}

.menu-icon {
  width: 20%;
  display: inline;
}

.menu-top {
  height: 8%;
}
.todo-text {
  display: inline;
  height: 20%;
}

.iconorlogo {
  height: 100%;
  display: inline;
}

.menu-bottom {
  height: 90%;
  padding: 1%;
  overflow-y: scroll;
}

.todo {
  width: 90%;
  background-color: #d4d4a6;
  border-radius: 15px;
  padding: 2%;
  padding-left: 5%;
}

.menutodostext {
  color: #3e3e69;
  font-size: 75%;
  width: 84%;
}

.addtodo {
  font-size: 75%;
  border-radius: 15px;
  background-color: #d4d4a6;
  width: 50%;
  padding: 2%;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
