.todoTasksContainer {
  display: flex;
}

.menu {
  border-radius: 2.5vh;
  background-color: #a7c3d1;
  height: 80%;
  padding: 2%;
  width: 18%;
  display: inline-block;
  top: 1%;
  left: 0.5%;
  position: fixed;
}

@media only screen and (max-width: 768px) {
  .menu {
    width: 95%;
  }
}

.menu-top {
  height: 8vh;
  overflow-x: scroll;
}

.todo-text {
  display: inline;
  max-height: 20%;
}

.logo {
  max-height: 6.5vh;
  display: inline;
  width: auto;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.menu-bottom {
  height: 90%;
  padding: 1%;
  overflow-y: auto;
}

.todo {
  width: 80%;
  background-color: #d4d4a6;
  border-radius: 2.5vh;
  padding: 0.1vw;
  padding-left: 5%;
  height: 2vw;
  cursor: pointer;
  margin: auto;
  transition: 0.2s;
}

.todoback {
  scale: 100%;
  transition: ease-in-out 500ms;
}

.todoback:hover {
  scale: 1.05;
  margin-top: 0.35vw;
  margin-bottom: 0.35vw;
}

.menutodostext {
  color: #3e3e69;
  font-size: 1.5vw;
  width: 84%;
  overflow-x: hidden;
}

.addtodo {
  border-radius: 2.5vh;
  background-color: #41473a;
  width: 50%;
  padding: 2.5% 7.5%;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: 1.35vw;
  margin-top: 15px;
  color: white;
  transition: linear 0.25s;
}

.addtodo:hover {
  background-color: #9495b1;
  color: rgb(59, 56, 56);
}

.todonameset {
  width: 80%;
  background-color: #e6e1c7;
  border-radius: 1.5vh;
  padding-left: 5%;
  display: none;
  padding-top: 0.1vw;
  height: 2vw;
  margin: 0.25vw auto;
}

.todonamesetform {
  background: none;
  border-width: 0;
  font-size: 1.25vw;
  font-weight: bold;
  color: #3e3e69;
  display: inline;
  height: 1.5vw;
  padding: 0;
  width: 80%;
  margin: 0;
  font-family: "Nunito", sans-serif;
  margin-left: 0.3vw;
  margin-top: 0.45vh;
}

.todonamesetform:focus {
  outline: none;
}

.todonamesetform:focus,
.todonameset {
  scale: 1.05;
}
