html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial;
  font-size: 20px;
  background-color: #effffe;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin-top:0;
  margin-bottom: 0;
}

.right {
  border-radius: 15px;
  background-color: #534c4c;
  height: 86%;
  padding: 2%;
}